

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Lending Services</h1>
        <p class="lead text-muted mb-0"> To gain access to our lending services, please register and log in.
            Openning an account with Lightning Bank gives you access to instantly approved loans with zero interest,
            anc could be payed back at any time!
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../img/Digital_Marketing_logo.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>