<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <img width="200" height="200" src="/img/logo.png" class="mx-auto d-block" />
        </div>
    </div>
    {{#each errors}}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
              {{message}}  
            </div>
        </div>
    </div>
    {{/each}}
    <div class="row">
        <div class="col-6 offset-3">
            <form name="registerForm" class="border rounded p-4 mb-5" method="POST" action="/account/register" enctype="application/x-www-form-urlencoded">
                <div class="form-row">
                    <label for="nameRow">Name</label>
                </div>
                <div class="form-row" id="nameRow">
                    <div class="col-6 ">
                        <input name="firstName" type="text" class="form-control" placeholder="First Name" required />
                    </div>
                    <div class="col-6 ">
                        <input name="lastName" type="text" class="form-control" placeholder="Last Name" required/>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <label for="emailAddress">Email Address</label>
                    <input name="emailAddress" type="email" class="form-control" placeholder="example123@gmail.com" required/>
                </div>

                <div class="form-group mt-3">
                    <label for="dob">Date of Birth</label>
                    <input name="dob" type="date" class="form-control" required/>
                </div>

                <div class="form-group mt-3">
                    <label for="phoneNumber">Phone Number</label>
                    <input name="phoneNumber" type="tel" class="form-control" placeholder="9999999999" />
                </div>


                <div class="form-group mt-5">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" placeholder="username" required/>
                </div>

                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" placeholder="password" required/>
                </div>

                <div class="form-group mt-3">
                    <label for="confirmPassword">Confirm Password</label>
                    <input name="confirmPassword" type="password" class="form-control" placeholder="confirm password" required/>
                </div>

                <div class="form-group mt-3">
                    <label for="profileImage">Upload Profile Picture</label>
                    <input name="profileImage" type="file" class="form-control"/>
                </div>
                
                <input type="submit" class="btn btn-primary form-control w-100 mt-3" value="Register">
            </form>
        </div>
    </div>
</div>